.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-error {
  color: $red;
}
.text-warning {
  color $yellow;
}
.text-info {
  color: $blue;
}
.text-success {
  color: $success;
}
